<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Nosso Time</span>
</div>

<div class="box_soon">
  <h2 class="soon_tit">EM BREVE</h2>
  <p class="nt_text">Enquanto isto porque não joga uma partida no
    <a href="#">Gamebattles</a> ou assiste um de nossos <a href="#">Streamers!</a></p>

</div>