<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Nosso Time</span>
</div>

<div class="">
  <h2 class="nome_tit">Paulo Castello Filho - CEO</h2>
  <p class="desc_pes">Fundador e diretor executivo da MLG Brasil, Paulo iniciou sua carreira no mercado financeiro, no Banco Opportunity. Trabalhou com marketing esportivo na Sport Promotion e foi trainee da America Latina na LSG Sky Chefs. Castello Filho foi quem trouxe para o país a primeira filial da americana Major League Gaming, líder mundial em eSports, visando expandir e estruturar o mercado brasileiro de esportes eletrônicos.</p>
  <h2 class="nome_tit">Felipe Almeida - Vice Presidente</h2>
  <p class="desc_pes">Co-fundador da MLG Brasil e apaixonado por games. Antes de integrar a equipe MLG Brasil, Felipe foi diretor de criação em agências de publicidade focadas em mídia digital. Além de atuar na área administrativa junto com Castello Filho, é responsável pelo relacionamento direto com desenvolvedores e com a comunidade brasileira de competidores, trabalhando para o crescimento e reconhecimento da mesma. </p>
  <h2 class="nome_tit">Alex "Made" Costa - Diretor de Programação</h2>
  <p class="desc_pes">Personalidade conhecida no universo de games, Made acumula mais de 150.000 assinantes em seus canais pessoais do youtube, onde desenvolve conteúdo para jogos. No passado, foi o principal apresentador e produtor da Machinima Brasil. Hoje desenvolve regulamentos e agenda das competições online e presenciais, além de atuar como host principal e produtor executivo da MLG Brasil. Alex Made também é responsável pelas contratações de influenciadores no mercado de entretenimento digital e gaming para os canais da MLG Brasil.</p>
  <h2 class="nome_tit">Antonio Bento - Sales Manager</h2>
  <p class="desc_pes">Há mais de 5 anos trabalhando na área de vendas, Antônio Bento traz na bagagem experiências adquiridas na Colgate Palmolive, Suzano Papel e Celulose, Michael Page e no Projeto Corporativo da Copa do Mundo do Brasil. Hoje, à frente da divisão de Sales da MLG Brasil, é o responsável pela prospecção de patrocínio dos campeonatos, pela venda de espaços publicitários no site e em streams e por Projetos de Marketing personalizados, com o objetivo de aproximar parceiros comerciais ao público aficionado por games.</p>
</div>