.theme--day .header-bar {
    background-color: #000000;
}
.header-avatar{
    visibility: hidden;
}
.header-channel {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font: 32px/46px "Terminal Dosis",sans-serif;
    height: 50px;
    overflow: hidden;
    /*text-align: left;*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-input {
    -moz-appearance: none;
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 1px 1px rgba(255, 255, 255, 0.2);
    color: #222;
    display: block;
    font-family: inherit;
    font-size: 20px;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 30px;
    overflow: hidden;
    padding: 10px 15px 10px 10px;
    resize: none;
    transition: background-color 0.1s linear 0s;
    width: 100%;
}
.message-input:hover {
    border-color: rgba(0, 0, 0, 0.24);
}
.message-input:focus {
    background-color: #ffffff;
    border-color: transparent;
    box-shadow: none;
}
.message-input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

