<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Videos Tutoriais</span>
</div>

<h3 class="tut_titulo">Como criar uma conta na MLG Brasil</h3>
<iframe width="640" height="360" src="//www.youtube.com/embed/3sRgkxo99II" frameborder="0" allowfullscreen></iframe>

<h3 class="tut_titulo">Como usar o Match Finder</h3>
<iframe width="640" height="360" src="//www.youtube.com/embed/vQHPyfFBhUE" frameborder="0" allowfullscreen></iframe>