<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Videos Tutoriais</span>
</div>
<p class="text_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique eu augue sed faucibus. Nam tempor ac erat in viverra. Aliquam posuere tempus orci id ultricies. Phasellus viverra eget lectus in hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec faucibus, ligula ut facilisis condimentum, tortor mauris egestas est, in tincidunt ex felis vel magna. Quisque imperdiet blandit purus, bibendum efficitur mi pretium et. Donec ut turpis id enim vulputate lobortis in sit amet justo. Mauris in tincidunt tortor, ut congue purus. Pellentesque tristique malesuada nisl at lobortis. Suspendisse id elementum quam. Suspendisse placerat, orci et scelerisque tincidunt, elit diam laoreet arcu, sit amet ultricies risus dolor sed est. Curabitur tincidunt varius dui, sit amet tempor dui tristique eget.</p>

<h3 class="tut_titulo">consectetur</h3>
<p class="text_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique eu augue sed faucibus. Nam tempor ac erat in viverra. Aliquam posuere tempus orci id ultricies.</p>
<iframe width="640" height="360" src="//www.youtube.com/embed/0FMfsT11pdA" frameborder="0" allowfullscreen></iframe>
<h3 class="tut_titulo">consectetur</h3>
<p class="text_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique eu augue sed faucibus. Nam tempor ac erat in viverra. Aliquam posuere tempus orci id ultricies.</p>
<iframe width="640" height="360" src="//www.youtube.com/embed/0FMfsT11pdA" frameborder="0" allowfullscreen></iframe>
<h3 class="tut_titulo">consectetur</h3>
<p class="text_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique eu augue sed faucibus. Nam tempor ac erat in viverra. Aliquam posuere tempus orci id ultricies.</p>
<iframe width="640" height="360" src="//www.youtube.com/embed/0FMfsT11pdA" frameborder="0" allowfullscreen></iframe>