<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Sobre a Major League Gaming Brasil</span>
</div>
<p class="whois_txt">A MLG Brasil, empresa do Grupo Águia, é a primeira franquia internacional da Major League Gaming (MLG), líder mundial no mercado de eSports. Promovemos uma série de campeonatos online e presenciais e levamos os melhores jogadores do país às maiores competições por todo o mundo, além da nossa plataforma de stream, onde personalidades do eSports, transmitem conteúdos diversos.</p>

<!--<div class="tittle">-->
  <!--<div class="line"></div>-->
  <!--<a href="http://gamebattles.mlgbrasil.tv/" class=""><span class="channel_span">Torneios</span></a>-->
<!--</div>-->

 <!--<div class="play-container">-->
 <!--<iframe src="http://gamebattles.mlgbrasil.tv/upcoming_tournaments.php" frameborder="0" scrolling="no" width="670" height="320"></iframe>-->
<!--</div>-->


<div id="tv_channels_container">
  <div id="tv_channels_filters">
    <div class="line"></div><span id="channel_span">Canais</span>
    <div id="tag-list"><a class="tag-link tag-link-selected" id="tag-link-all">Todos</a><a class="tag-link" id="tag-link-Entertainment">Entertainment</a><a class="tag-link" id="tag-link-ProPlayers">Pro Players</a><a class="tag-link" id="tag-link-Popular">Popular</a><a class="tag-link" id="tag-link-MLGBrasil">MLG Brasil</a><a class="tag-link" id="tag-link-MLG">MLG</a></div>
  </div>
  <div id="tv_channels"></div>
</div>
<script type="text/javascript">
    //<![CDATA[

    var content_api_url = "http://www.majorleaguegaming.com/api/channels/all.js";
    var streams_api_url = "http://streamapi.majorleaguegaming.com/service/streams/all";

    var MLG_TV_CHANNELS = new MlgTvChannels(content_api_url, streams_api_url);
    MLG_TV_CHANNELS.MLG_API_CLIENT.getContent();

    //]]>
</script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        try {
            var refreshPollNumber = null;
            var intervalLength    = 150000;

            setInterval(function() {
                var jqxhr = $.get( "/page_reloader?v="+refreshPollNumber, function( resp ) {
                    if (refreshPollNumber == null) {
                        refreshPollNumber = resp;
                        return;
                    } else if (resp > refreshPollNumber) {
                        window.location.reload();
                    }
                })
                        .done(function() { })
                        .fail(function() { })
                        .always(function() { });
            }, intervalLength );
        } catch (err ) {
        }
    });
</script>
<script type="text/javascript">
    MlgClient = {}
    MlgClient.data = {};
    MlgClient.getData = function(key, default_){
        if ( key in MlgClient.data ){
            return MlgClient.data[key]
        }
        if( typeof default_ != "undefined"){
            return default_;
        }
        return null;
    }
</script>