<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Quem Somos</span>
</div>

<p class="text"> Enquanto isto porque não joga uma partida no Gamebattles ou assiste um de nossos Streamers!</p>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue interdlis. Nulli eget metus vestibulum iaculis. Mauris semper eu tellus sed aliquet. Donec mattis accumsan magna, ut iaculis erat viverra ac. Pellentesque at ex lectus. In venenatis vulputate purus, et interdum nulla. Maecenas gravida quam sed risus finibus, in dignissim mauris fringilla. Sed at risu</p>
<p class="text">Aliquam nibh odio, sollicitudinunc nec . Namacus, um lla facilisi. Intec ante ipscibus. Nullam suscipit tellus in dolor lacinia congue. Quisque maximus nisi a imperdiet scelerisque. Integer eu metus ligula. Fusce sagittis, eros vel aliquet porta, ligula mi rutrum sem, nec convallis ex sem ac magna. Ut a feugiat magna. Mauris sed iaculis odio.</p>
