<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Quem Somos</span>
</div>



<p class="text">
  A MLG Brasil é a primeira franquia internacional da Major League Gaming (MLG), líder mundial no mercado de eSports – Esportes eletrônicos.
  A empresa, que integra o Grupo Águia, o mais completo e diversificado grupo de turismo brasileiro, promove uma série de campeonatos online e presenciais de games no Brasil e leva os melhores jogadores do país às maiores competições por todo o mundo.

</p><br>

<p class="text">
  A empresa possui uma ampla plataforma para campeonatos que utiliza o modelo adotado pela MLG americana, sistema de ranking, transmissões online e premiações. A MLG Brasil foi criada para suprir a necessidade por competições no Brasil e viabilizar a profissionalização dos jogadores, fomentando o mercado de games no país e tornando o Brasil e os brasileiros ícones do eSport mundial.
</p>