<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Quem Somos</span>
</div>



<p class="text_p">
  A MLG Brasil é a primeira franquia internacional da Major League Gaming (MLG), líder mundial no mercado de eSports – Esportes eletrônicos. A empresa, que integra o Grupo Águia, o mais completo e diversificado grupo de turismo brasileiro, promove uma série de campeonatos online e presenciais de games no Brasil e leva os melhores jogadores do país às maiores competições por todo o mundo.
</p>

<p class="text_p">
  A empresa possui uma ampla plataforma para campeonatos que utiliza o modelo adotado pela MLG americana, sistema de ranking, transmissões online e premiações. A MLG Brasil foi criada para suprir a necessidade por competições no Brasil e viabilizar a profissionalização dos jogadores, fomentando o mercado de games no país e tornando o Brasil e os brasileiros ícones do eSport mundial.
</p>

<h2 class="qs_titulo">MISSÃO:</h2>
<p class="text_p">
  MLG Brasil tem como missão proporcionar campeonatos de games para o apaixonado por eSports, oferecendo conteúdo que possa ser assistido a qualquer momento, de qualquer lugar, através da nossa plataforma de streaming global – MLGBrasil.tv.
</p>
<h2 class="qs_titulo">MLGBrasil.tv</h2>
<p class="text_p">
  Assistir a MLGBrasil.tv é grátis, pois contamos com suporte publicitário para manutenção de nossa estrutura. A nossa plataforma premium de streaming foi desenvolvida e adaptada para transmissão de eSports, o esporte que atualmente possui o maior índice de crescimento em todo o mundo. MLGBrasil.tv oferece o melhor conteúdo de games 24 horas por dia, 7 dias por semana, incluindo:<br>
  <span class="qs_bullet"><b>&bull;</b> Competições: os melhores jogadores, equipes e jogos estão presentes na nossa plataforma. A MLG Brasil ainda transmite seus próprios campeonatos presenciais e competições online que acontecem diariamente.</span>
  <span class="qs_bullet"><b>&bull;</b> Personalidades: Jogadores, youtubers e personalidades em geral se  dedicam na criação de conteúdo do seu próprio canal dentro da MLGBrasil.tv.</span>
  <span class="qs_bullet"><b>&bull;</b> Jogadores Iniciantes: A MLGBrasil.tv promove campeonatos através da gamebattles, a maior plataforma de jogos e torneios online, contendo os melhores títulos em que os jogadores de todos os níveis, seja ele amador ou profissional podem entrar, competir e começar a acumular pontos na MLG Brasil.</span>
</p>
<h2 class="qs_titulo">MLG Brasil PRO POINTS E GAMEBATTLES: </h2>
<p class="text_p">
  O sistema de ranking por Pro Pontos é a referência para determinar os melhores competidores em todo o mundo. Os jogadores ganham Pro Points ao participarem dos eventos MLG Brasil Pro Circuit, sendo que a quantidade de pontos ganhos é o indicador de desempenho dos competidores nos campeonatos presenciais e online da MLG Brasil.
</p>
<p class="text_p">
  Sistema de Pro Points da MLG Brasil pode ser facilmente integrado em jogos e sites da web, sendo amplamente utilizado pelos desenvolvedores de games e editores. A plataforma possui os principais títulos de consoles e PC. Contamos com jogadores de todos os níveis, que entrem na plataforma MLG Brasil, comece a competir e a acumular pontos.
</p>
<h2 class="qs_titulo">Distribuição da MLGBrasil.tv</h2>
<p class="text_p">
  A programação da MLG Brasil está disponível através do MLGBrasil.tv, e no app para IOS e Android da MLG. No futuro contaremos com o app próprio da MLG Brasil, além dos apps para Xbox One, Xbox 360 e Playstation.
</p>
<h2 class="qs_titulo">Experiência do Usuário da MLG Brasil: </h2>
<p class="text_p">
  O sistema da MLG Brasil foi desenvolvido para oferecer à sua audiência a mais alta qualidade de transmissão.
   <span class="qs_bullet"><b>&bull;</b> MLGBrasil.tv permite ao usuário assistir de qualquer local as transmissões, qualidade de sinal com 1080p HD. Para aproveitar essa qualidade de imagem é necessário ter uma velocidade de internet banda larga compatível.</span>
   <span class="qs_bullet"><b>&bull;</b> MLGBrasil.tv Chat: O sistema de chat MLGBrasil.tv foi projetado para uma experiência de alta performance, tornando nosso meio de comunicação mais interativo durante as transmissões. O chat MLGBrasil.tv permite aos telespectadores interagir com personalidades em tempo real.</span>
</p>
<p class="text_p">
  Assista grátis: Assistir a MLG Brasil é gratis! Através do nosso modelo suportado por anúncios os videos estão disponíveis para streaming ilimitado e acesso imediato a replays.
</p>

<h2 class="qs_titulo">PUBLICIDADE:</h2>
<p class="text_p">
  Todo mês a MLG Brasil atinge milhões de fãs altamente engajados em toda a rede através da web, mobile, TVs conectadas, consoles de jogos e canais de mídia social tornando-se a propriedade mais assertiva para anunciantes atingir <b>jovens do sexo masculino</b>.
</p>
<h2 class="qs_titulo">Parceiros de streaming MLGBrasil.tv</h2>
<p class="text_p">
  Os parceiros de streaming da MLG Brasil possuem os seguintes benefícios:
  Qualidade de stream, tecnologia estável e melhorias
  <span class="qs_bullet"><b>&bull;</b>	Streams padrão de 1080p HD;</span>
  <span class="qs_bullet"><b>&bull;</b> Suporte técnico;</span>
  <span class="qs_bullet"><b>&bull;</b> Nossa equipe conta com engenheiros trabalhando constantemente para melhorar a experiência para os streamers e também para a nossa audiência. Novos recursos são disponibilizados constantemente aos usuários;</span>
  <span class="qs_bullet"><b>&bull;</b> Música: os streamers contam com acesso ilimitado à biblioteca de música do Monstercat para usarem em seus videos e streams do YouTube. Isso permite aos Streamers da MLG Brasil elevar a qualidade do conteúdo de seus vídeos sem se preocupar com os direitos autorais e licença de uso de propriedades que possam ser aplicadas.</span>
</p>
<h2 class="qs_titulo">MLG EM CONSTANTE EXPANSÃO:</h2>
<p class="text_p">
  O alcance global da marca MLG vai além da plataforma de videos online. A MLG está construindo o primeiro Estádio de eSports na China, aonde competições ocorrerão constantemente.
</p>
<h2 class="qs_titulo">Para mais informações:</h2>
<p class="text_p">
  <a href="http://www.mlgbrasil.tv">http://www.mlgbrasil.tv</a> <br>
  <a href="http://instagram.com/mlgbrasil">http://instagram.com/mlgbrasil</a><br>
  <a href="https://www.facebook.com/MLGBrasil">https://www.facebook.com/MLGBrasil</a><br>
  <a href="https://twitter.com/MLG_Brasil">https://twitter.com/MLG_Brasil</a>
</p>
