<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Quem Somos</span>
</div>



<p class="text"> Primeira franquia internacional da Major League Gaming,
líder mundial em eSports</p><br>

<p class="text"> Possui ampla plataforma de campeonatos e transmissão
de esportes eletrônicos;</p><br>

<p class="text"> Os melhores campeonatos presenciais e online do Brasil;</p><br>

<p class="text"> Diversos campeonatos ao longo do ano;</p><br>

<p class="text"> Em Dezembro, a MLG Brasil terá o prazer de abrir a série mundial de eSports, com a presença de competidores de todo o mundo.</p><br>
