<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">MLG Brasil na Mídia</span>
</div>

<a class="contact_txt">17/02/2014 - <b>Bit-BR</b> - A Major League Gaming está chegando ao Brasil</a>
<a class="contact_txt">18/02/2014 - Estadão.com.br - MLG anuncia franquia no Brasil</a>
<a class="contact_txt">21/02/2014 - Brasil Econômico - Avell vai buscar gamers fora do país</a>
<a class="contact_txt">10/03/2014 - Brasil recebe franquia americana de torneios de games online</a>
<a class="contact_txt">06/03/2014 - TechTudo - Brasil recebe franquia americana de torneios de games online; confira</a>
<a class="contact_txt">14/02/2014 - Game Blast - Brasil receberá a primeira franquia internacional da Major League Gaming</a>
<a class="contact_txt">18/02/2014 - O Globo-RJ - Brasileiros ganham R$ 10 mil por mês jogando games profissionalmente</a>
<a class="contact_txt">18/02/2014 - Extra-RJ - Brasileiros ganham R$ 10 mil por mês jogando games profissionalmente, e cenário nacional atrai até sul-coreanos</a>
<a class="contact_txt">18/02/2014 - No Poder - Brasileiros ganham R$ 10 mil por mês jogando games profissionalmente, e cenário nacional atrai até sul-coreanos</a>
<a class="contact_txt">21/02/2014 - Brasil Econômico-SP - De Joinville para os EUA: Avell vai buscar gamers fora do pás</a>
<a class="contact_txt">10/03/2014 - G1 - Duas equipes do Brasil representarão o país no mundial de 'Call of Duty'</a>
<a class="contact_txt">10/03/2014 - Gazetaweb - Duas equipes do Brasil representarão o país no mundial de 'Call of Duty'</a>
<a class="contact_txt">17/02/2014 - IG - Liga internacional de games, a MLG, chega ao Brasil até abril de 2014</a>
<a class="contact_txt">15/02/2014 - Rius - Liga internacional de games, a MLG, chega ao Brasil até abril de 2014</a>
<a class="contact_txt">26/02/2014 - Extra-RJ - Maior liga de eSports do mundo abre franquia no Brasil</a>
<a class="contact_txt">26/02/2014 - O Globo-RJ - Maior liga de eSports do mundo abre franquia no Brasil</a>
<a class="contact_txt">15/02/2014 - CodigoFonte-BR - Major League Gaming abre expansão no Brasil</a>
<a class="contact_txt">14/02/2014 - VG247-BR - Major League Gaming announces first international franchise MLG Brasil</a>
<a class="contact_txt">14/02/2014 - Pwn3ed - Major League Gaming anuncia sua primeira franquia internacional: MLG Brasil!</a>
<a class="contact_txt">14/02/2014 - Sports Business Daily - Major League Gaming Expanding To Brazil, Has Plans For More Int'l Expansion</a>
<a class="contact_txt">14/02/2014 - The Verge-BR -Major League Gaming expands to Brazil</a>
<a class="contact_txt">14/02/2014 - Polygon - Major League Gaming expands to Brazil with its first international franchise</a>
<a class="contact_txt">14/02/2014 - Gamasutra - Major League Gaming goes international with MLG Brasil</a>
<a class="contact_txt">14/02/2014 - The Daily Dot - Major League Gaming is expanding to Brazil</a>
<a class="contact_txt">13/03/2014 - MindxMLG – Brasil recebe a maior franquia americana de torneios de jogos online</a>
<a class="contact_txt">14/02/2014 - Dota 2 Brasil - MLG - Futuro Campeonato no Brasil</a>
<a class="contact_txt">14/02/2014 - onGamers-BR - MLG announces first international franchise in Brazil</a>
<a class="contact_txt">15/02/2014 - Smash Company Brasil - MLG anuncia 1ª franquia internacional: Brasil-sil-sil-sil...</a>
<a class="contact_txt">14/02/2014 - MSN Brasil - MLG Brasil é a liga competitiva chegando oficialmente em terras brasileiras</a>
<a class="contact_txt">14/02/2014 - Kotaku-BR - MLG Brasil é a liga competitiva chegando oficialmente em terras brasileiras</a>
<a class="contact_txt">16/02/2014 - Clan Cobra - MLG Brasil é a liga competitiva chegando oficialmente em terras brasileiras</a>
<a class="contact_txt">26/02/2014 - Estadão.com.br - MLG Brasil quer transformar o eSport nacional</a>
<a class="contact_txt">14/02/2014 - TeamPlay-BR - MLG chega ao Brasil</a>
<a class="contact_txt">18/02/2014 - Tecnoblog-BR - MLG chega ao Brasil e o cenário dos eSports tupiniquim deve ir de vento em popa</a>
<a class="contact_txt">17/02/2014 - OverBR.com.br - Primeira franquia internacional da Major League Gaming chega ao Brasil</a>
<a class="contact_txt">20/02/2014 - JF Games PC Brasil - Primeira franquia internacional da Major League Gaming chega ao Brasil</a>
<a class="contact_txt">18/02/2014 - Extra-RJ - Quem disse que videogame não é coisa séria?</a>
<a class="contact_txt">19/02/2014 - Fox News Latino - U.S. Professional Video Gaming Eyes Brazil As Part Of Latin America Expansion</a>
<a class="contact_txt">17/02/2014 - IG - Liga internacional de games, a MLG, chega ao Brasil até abril de 2014</a>
<a class="contact_txt">15/02/2014 - Rius - Liga internacional de games, a MLG, chega ao Brasil até abril de 2014</a>
<a class="contact_txt">26/03/2014 - Pure Break - "Call of Duty World Championship Tournament" terá menos uma equipe brasileira</a>
<a class="contact_txt">21/03/2014 - Info Online-SP - "Falta estrutura profissional para gamers no Brasil", afirma CEO de empresa líder em eSports</a>
<a class="contact_txt">21/03/2014 - Game Vicio-BR - "Falta estrutura profissional para gamers no Brasil", afirma CEO de empresa líder em eSports</a>
<a class="contact_txt">06/07/2014 - O Globo - A rotina estafante de quem ganha a vida... jogando videogame</a>
<a class="contact_txt">06/07/2014 - O Globo-RJ - A rotina estafante de quem ganha a vida... jogando videogame</a>
<a class="contact_txt">25/03/2014 - Wordicious - Falta estrutura profissional para gamers no Brasil", afirma CEO de empresa líder em eSports</a>
<a class="contact_txt">17/02/2014 - House of Players - MLG Brasil!! - Competitivo crescente!</a>
<a class="contact_txt">11/04/2014 - UOL - Maracanãzinho vai receber final de campeonato de "League of Legends"</a>
<a class="contact_txt">19/02/2014 - Frequency - MLG Brasil: A CBF do e-Sport?</a>
<a class="contact_txt">11/03/2014 - Tecnoblog - Tem duas equipes brasileiras no campeonato mundial de Call Of Duty</a>
<a class="contact_txt">19/09/2014 - Adrenaline-BR - Major League Gaming iniciará atividades de sua filial brasileira no dia 26</a>
<a class="contact_txt">19/09/2014 - OU3 - Major League Gaming iniciará atividades de sua filia brasileira no dia 26</a>
<a class="contact_txt">18/09/2014 - Omelete - Major League Gaming inicia operações no país</a>
<a class="contact_txt">17/09/2014 - Acontecendo Aqui - Nova campanha da MLG Brasil premia com viagem a Nova York e formação dos 5 primeiros colocados</a>
<a class="contact_txt">21/09/2014 - O Globo - Maior liga de games do mundo vai iniciar operações no país</a>
<a class="contact_txt">19/09/2014 - Tribo Gamer - Major League Gaming está chegando ao Brasil</a>
<a class="contact_txt">21/09/2014 - Extra-RJ - Maior liga de games do mundo vai iniciar operações no país</a>
<a class="contact_txt">18/09/2014 - Ms Pontocom - Major League Gaming lançará filial brasileira no dia 26</a>
<a class="contact_txt">19/09/2014 - New Game Plus - Major League Gaming está chegando ao Brasil</a>
<a class="contact_txt">22/09/2014 - Tribo Gamer - Major League Gaming está chegando ao Brasil</a>
<a class="contact_txt">20/09/2014 - TecMundo-BR - MLG Brasil inicia oficialmente suas atividades ainda este mês</a>
<a class="contact_txt">22/09/2014 - XBOX MANIA - Nova campanha da MLG Brasil premia com viagem a Nova York e formação dos 5 primeiros colocados</a>
<a class="contact_txt">20/09/2014 - Baixaki Jogos - MLG Brasil inicia oficialmente suas atividades ainda este mês</a>
<a class="contact_txt">21/09/2014 - Orm News - Maior liga de games do mundo vai iniciar operações no país</a>
<a class="contact_txt">22/09/2014 - Baguete - Brasil tem 1ª liga profissional de eSports</a>
<a class="contact_txt">23/09/2014 - scoopnest - Maior liga de games do mundo vai iniciar operações no Brasil</a>
<a class="contact_txt">22/09/2014 - Cidadão Repórter - MLG Brasil inicia oficialmente suas atividades ainda este mês</a>
<a class="contact_txt">22/09/2014 - Disk Tel - Maior liga de games do mundo vai iniciar operações no país</a>
<a class="contact_txt">22/09/2014 - Café Dos Quatros - Brasil tem 1ª liga profissional de eSports</a>
<a class="contact_txt">24/09/2014 - Encontre na Web-BR - Líder mundial em eSports inicia suas competições no Brasil</a>
<a class="contact_txt">23/09/2014 - Team Play - TEAMPLAY irá inaugurar a MLG Brasil</a>
<a class="contact_txt">23/09/2014 - Blog de Jamildo - MLG inicia operações no Brasil e lança liga oficial de gamers</a>
<a class="contact_txt">22/09/2014 - Divirta-se-BR - Master League Gaming começa operações no Brasil nesta sexta-feira</a>
<a class="contact_txt">17/09/2014 - CodigoFonte - Major League Gaming vai inaugurar arena exclusiva para e-sports nos EUA</a>
<a class="contact_txt">19/09/2014 - MMORPGBR-BR - Major League Gaming chega ao Brasil no dia 26 de setembro</a>
<a class="contact_txt">25/09/2014 - Zero Hora - Porto Alegre-RS - Uma gigante entre nós</a>
<a class="contact_txt">24/09/2014 - DailyTech-US - First U.S. Professional Video Gaming Arena Set to Open in Ohio</a>
<a class="contact_txt">02/10/2014 - TeamPlay-BR - MLG com DotA 2 e CS:GO? </a>
