<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">MLG Brasil na Mídia</span>
</div>


<p class="contact_txt"><b>A Major League Gaming está chegando ao Brasil</b><br>17/02/2014 - Bit-BR - </p>



<p class="contact_txt"><b>17/02/2014</b> - Bit-BR - A Major League Gaming está chegando ao Brasil</p>
<p class="contact_txt">18/02/2014 - Estadão.com.br - MLG anuncia franquia no Brasil</p>
<p class="contact_txt">21/02/2014 - Brasil Econômico - Avell vai buscar gamers fora do país</p>
<p class="contact_txt">10/03/2014 - Brasil recebe franquia americana de torneios de games online</p>
<p class="contact_txt">06/03/2014 - TechTudo - Brasil recebe franquia americana de torneios de games online; confira ( -  - WEB)</p>
<p class="contact_txt">14/02/2014 - Brasil receberá a primeira franquia internacional da Major League Gaming (Game Blast-BR -  - WEB)</p>
<p class="contact_txt">18/02/2014 - Brasileiros ganham R$ 10 mil por mês jogando games profissionalmente (O Globo-RJ -  - WEB)</p>
<p class="contact_txt">18/02/2014 - Brasileiros ganham R$ 10 mil por mês jogando games profissionalmente, e cenário nacional atrai até sul-coreanos (Extra-RJ -  - WEB)</p>
<p class="contact_txt">18/02/2014 - No Poder-BR - Brasileiros ganham R$ 10 mil por mês jogando games profissionalmente, e cenário nacional atrai até sul-coreanos</p>
<p class="contact_txt">21/02/2014 - Brasil Econômico-SP - De Joinville para os EUA: Avell vai buscar gamers fora do pás</p>
<p class="contact_txt">10/03/2014 - G1 - Duas equipes do Brasil representarão o país no mundial de 'Call of Duty'</p>
<p class="contact_txt">10/03/2014 - Gazetaweb - Duas equipes do Brasil representarão o país no mundial de 'Call of Duty'</p>
<p class="contact_txt">Liga internacional de games, a MLG, chega ao Brasil até abril de 2014 (IG-BR - 17/02/2014 - WEB)</p>
<p class="contact_txt">Liga internacional de games, a MLG, chega ao Brasil até abril de 2014 (Rius-BR - 15/02/2014 - WEB)</p>
<p class="contact_txt">Maior liga de eSports do mundo abre franquia no Brasil (Extra-RJ - 26/02/2014 - WEB)</p>
<p class="contact_txt">Maior liga de eSports do mundo abre franquia no Brasil (O Globo-RJ - 26/02/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming abre expansão no Brasil (CodigoFonte-BR - 15/02/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming announces first international franchise MLG Brasil (VG247-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming anuncia sua primeira franquia internacional: MLG Brasil ! (Pwn3ed-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming Expanding To Brazil, Has Plans For More Int'l Expansion (Sports Business Daily-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming expands to Brazil (The Verge-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming expands to Brazil with its first international franchise (Polygon-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming goes international with MLG Brasil (Gamasutra-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming is expanding to Brazil (The Daily Dot-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">MLG – Brasil recebe a maior franquia americana de torneios de jogos online (Mindx -BR - 13/03/2014 - WEB)</p>
<p class="contact_txt">MLG - Futuro Campeonato no Brasil (Dota 2 Brasil -BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">MLG announces first international franchise in Brazil (onGamers-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">MLG anuncia 1ª franquia internacional: Brasil-sil-sil-sil... (Smash Company Brasil-BR - 15/02/2014 - WEB)</p>
<p class="contact_txt">MLG Brasil é a liga competitiva chegando oficialmente em terras brasileiras (MSN Brasil-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">MLG Brasil é a liga competitiva chegando oficialmente em terras brasileiras (Kotaku-BR-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">MLG Brasil é a liga competitiva chegando oficialmente em terras brasileiras (Clan Cobra-BR - 16/02/2014 - WEB)</p>
<p class="contact_txt">MLG Brasil quer transformar o eSport nacional (Estadão.com.br-SP - 26/02/2014 - WEB)</p>
<p class="contact_txt">MLG chega ao Brasil (TeamPlay-BR - 14/02/2014 - WEB)</p>
<p class="contact_txt">MLG chega ao Brasil e o cenário dos eSports tupiniquim deve ir de vento em popa (Tecnoblog-BR - 18/02/2014 - WEB)</p>
<p class="contact_txt">Primeira franquia internacional da Major League Gaming chega ao Brasil (OverBR.com.br-BR - 17/02/2014 - WEB)</p>
<p class="contact_txt">Primeira franquia internacional da Major League Gaming chega ao Brasil (JF Games PC Brasil-BR - 20/02/2014 - WEB)</p>
<p class="contact_txt">Quem disse que videogame não é coisa séria? (Extra-RJ - 18/02/2014 - Impresso)</p>
<p class="contact_txt">U.S. Professional Video Gaming Eyes Brazil As Part Of Latin America Expansion (Fox News Latino-BR - 19/02/2014 - WEB)</p>
<p class="contact_txt">Liga internacional de games, a MLG, chega ao Brasil até abril de 2014 (IG-BR - 17/02/2014 - WEB)</p>
<p class="contact_txt">Liga internacional de games, a MLG, chega ao Brasil até abril de 2014 (Rius-BR - 15/02/2014 - WEB)</p>
<p class="contact_txt">"Call of Duty World Championship Tournament" terá menos uma equipe brasileira (Pure Break-BR - 26/03/2014 - WEB)</p>
<p class="contact_txt">"Falta estrutura profissional para gamers no Brasil", afirma CEO de empresa líder em eSports (Info Online-SP - 21/03/2014 - WEB)</p>
<p class="contact_txt">"Falta estrutura profissional para gamers no Brasil", afirma CEO de empresa líder em eSports (Game Vicio-BR - 21/03/2014 – WEB)</p>
<p class="contact_txt">A rotina estafante de quem ganha a vida... jogando videogame (O Globo-RJ - 06/07/2014 - WEB)</p>
<p class="contact_txt">A rotina estafante de quem ganha a vida... jogando videogame (O Globo-RJ - 06/07/2014 - Impresso)</p>
<p class="contact_txt">Falta estrutura profissional para gamers no Brasil", afirma CEO de empresa líder em eSports (Wordicious-BR - 25/03/2014 - WEB)</p>
<p class="contact_txt">MLG Brasil!! - Competitivo crescente! (House of Players-BR - 17/02/2014 - WEB)</p>
<p class="contact_txt">Maracanãzinho vai receber final de campeonato de "League of Legends" (UOL-BR - 11/04/2014 - WEB)</p>
<p class="contact_txt">MLG Brasil: A CBF do e-Sport? (Frequency-BR - 19/02/2014 - WEB)</p>
<p class="contact_txt">Tem duas equipes brasileiras no campeonato mundial de Call Of Duty (Tecnoblog-BR - 11/03/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming iniciará atividades de sua filial brasileira no dia 26 (Adrenaline-BR - 19/09/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming iniciará atividades de sua filia brasileira no dia 26 (OU3-BR - 19/09/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming inicia operações no país (Omelete-BR - 18/09/2014 - WEB)</p>
<p class="contact_txt">Nova campanha da MLG Brasil premia com viagem a Nova York e formação dos 5 primeiros colocados (Acontecendo Aqui-BR - 17/09/2014 - WEB)</p>
<p class="contact_txt">Maior liga de games do mundo vai iniciar operações no país (O Globo-RJ - 21/09/2014 - Impresso)</p>
<p class="contact_txt">Major League Gaming está chegando ao Brasil (Tribo Gamer-BR - 19/09/2014 - WEB)</p>
<p class="contact_txt">Maior liga de games do mundo vai iniciar operações no país (Extra-RJ - 21/09/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming lançará filial brasileira no dia 26 (Ms Pontocom-BR - 18/09/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming está chegando ao Brasil (New Game Plus-BR - 19/09/2014 - WEB)</p>
<p class="contact_txt">Major League Gaming está chegando ao Brasil - Notícia - Tribo Gamer (Tribo Gamer-BR - 22/09/2014 - WEB)</p>
<p class="contact_txt">MLG Brasil inicia oficialmente suas atividades ainda este mês (TecMundo-BR - 20/09/2014 - WEB)</p>
<p class="contact_txt">Nova campanha da MLG Brasil premia com viagem a Nova York e formação dos 5 primeiros colocados (XBOX MANIA-BR - 22/09/2014 - WEB)</p>
<p class="contact_txt">MLG Brasil inicia oficialmente suas atividades ainda este mês (Baixaki Jogos-BR - 20/09/2014 - WEB)</p>
<p class="contact_txt">Maior liga de games do mundo vai iniciar operações no país (Orm News-BR - 21/09/2014 - WEB)</p>
<p class="contact_txt">Brasil tem 1ª liga profissional de eSports (Baguete-BR - 22/09/2014 - WEB)</p>
<p class="contact_txt">Maior liga de games do mundo vai iniciar operações no Brasil (scoopnest-BR - 23/09/2014 - WEB)</p>
<p class="contact_txt">22/09/2014 - Cidadão Repórter - MLG Brasil inicia oficialmente suas atividades ainda este mês</p>
<p class="contact_txt">22/09/2014 - Disk Tel - Maior liga de games do mundo vai iniciar operações no país</p>
<p class="contact_txt">22/09/2014 - Café Dos Quatros - Brasil tem 1ª liga profissional de eSports</p>
<p class="contact_txt">24/09/2014 - Encontre na Web-BR - Líder mundial em eSports inicia suas competições no Brasil</p>
<p class="contact_txt">23/09/2014 - Team Play - TEAMPLAY irá inaugurar a MLG Brasil</p>
<p class="contact_txt">23/09/2014 - Blog de Jamildo - MLG inicia operações no Brasil e lança liga oficial de gamers</p>
<p class="contact_txt">22/09/2014 - Divirta-se-BR - Master League Gaming começa operações no Brasil nesta sexta-feira</p>
<p class="contact_txt">17/09/2014 - CodigoFonte - Major League Gaming vai inaugurar arena exclusiva para e-sports nos EUA</p>
<p class="contact_txt">19/09/2014 - MMORPGBR-BR - Major League Gaming chega ao Brasil no dia 26 de setembro</p>
<p class="contact_txt">25/09/2014 - Zero Hora - Porto Alegre-RS - Uma gigante entre nós</p>
<p class="contact_txt">24/09/2014 - First U.S. Professional Video Gaming Arena Set to Open in Ohio (DailyTech-US -  - WEB)</p>
<p class="contact_txt">02/10/2014 - TeamPlay-BR - MLG com DotA 2 e CS:GO? </p>

