<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Sobre a Major League Gaming Brasil</span>
</div>

<p class="text_p">A MLG Brasil, empresa do Grupo Águia, é a primeira franquia internacional da Major League Gaming (mlg), líder mundial no mercado de eSports. A empresa promove uma série de campeonatos online e presenciais de games no Brasil e leva os melhores jogadores do país às maiores competições por todo o mundo, utilizando as regras, sistema de ranking e transmissões online que já são utilizados pela MLG internacionalmente. A Major League Gaming (mlg) é uma das redes digitais que mais crescem em todo o mundo, com mais de 1.557% de crescimento em público ao longo dos últimos quatro anos. Atualmente, o Brasil é o quarto maior mercado mundial na indústria de games. Para mais informações acesse: mlgbrasil.tv</p>
<p class="text_p">O Grupo Águia é o mais completo e diversificado grupo de turismo brasileiro, formado por mais de 10 empresas e cerca de 600 funcionários. Quando se consolidou, em 2004, o Grupo Águia já trazia na bagagem o peso de renomadas empresas do mercado e toda a experiência e know-how de grandes profissionais do turismo. Hoje é reconhecido por sua atuação em importantes segmentos, como lazer, incentivo, corporativo, turismo esportivo e outros, além de trabalhar com Copas do Mundo desde 1966.</p>
<p class="text_p">Mantenha-se em Contato:<br>
Siga-nos nas redes sociais @MLG_Brasil e curta no pagina no facebook, para ficar sabendo de todas as novidades.</p>

<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Vagas em aberto</span>
</div>