<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Sobre nós:</span>
</div>
<p class="text_p">A MLG Brasil, empresa do Grupo Águia, é a primeira franquia internacional da Major League Gaming (MLG), líder mundial no mercado de eSports. Promovemos uma série de campeonatos online e presenciais e levamos os melhores jogadores do país às maiores competições por todo o mundo, além da nossa plataforma de stream, onde personalidades do eSports, transmitem conteúdos diversos.</p>
<p class="text_p">Job: Web Designer /Editor de Vídeo.</p>
<p class="text_p">Se você é criativo e tem talento, gosta de criar artes e cards e ainda tem conhecimento pleno em edição de vídeos, estamos a sua procura. Mande seu currículo e venha trabalhar na líder mundial de eSports no Mundo. Uma empresa revolucionária, dinâmica, jovem e agora também brasileira.</p>
<p class="text_p">Atributos / Qualificações Necessárias:</p>
<p class="text_p">Web Designer<br>
·      +1 ano de experiência com Photoshop<br>
·      Experiência avançada em ao menos um programa de edição de foto. Ex: Illustrator / Photoshop / etc.<br>
·      Superior Completo<br>
</p>
<p class="text_p">Editor de Vídeo</p>

<p class="text_p">·      +1 ano de experiência com Flash</p>
<p class="text_p">·      Experiência avançada em ao menos um programa de edição de vídeo. Ex: Adobe Premiere /Adobe After Effects/ Corel Vídeo Studio/ Sony Vegas/ Lightworks/ etc.</p>
<p class="text_p">·      Superior Completo</p>

<p class="text_p">Características Pessoais:</p>

<p class="text_p">· Acostumado a ambiente com ritmo acelerado e foco no prazo de entrega.<br>
· Ter orgulho de um trabalho bem feito e detalhado.<br>
· Conhecimento claro do objetivo<br>
· Saber otimizar tempo.<br>
· Detalhista e organizado.<br>
· Atitude proativa e capacidade de efetuar multitarefas.<br>
· Fácil de lidar e bom de grupo.<br>
</p>

<p class="text_p">Responsabilidades:</p>

<p class="text_p">·      Você cuidará da criação de arte do site, incluindo vídeos.<br>
·      Desenvolver cards e conteúdo digital para publicação nas redes sociais da MLG Brasil.</p>


<p class="text_p">A MLG Brasil prioriza o êxito, paixão, integridade, resultado e criatividade. Se você possua todas essas qualificações, mande agora seu currículo para vagas@mlgbrasil.tv</p>

<p class="text_p">Boa Sorte,</p>

<p class="text_p">MLG Brasil</p>