// Place all the styles related to the anuncios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bt_anuncios{
  color: #FFFFFF;
  background-color:#17773f;
  padding: 10px 30px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin-left: 180px;
  font-family: quicksandbold, Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;

  &:visited{
    color: #FFFFFF;
    text-decoration: none;

  }
  &:hover{
    text-decoration: none;
  }
}