#new_contact {
  background-color: #ccc;
  margin: 20px 75px;
  padding: 10px 25px;
  width: 500px;
}
.control-label {
  color: #727272;
  font-family: "quicksandregular",Helvetica,Arial,sans-serif;
  font-size: 15px;
  padding: 10px 10px 10px 0;
}
.btn-primary {
  background-color: #0e783e;
  margin: 13px auto 17px;
  padding: 16px 159px;
  border: none;
}
.btn-primary:hover {
  background-color: #01aa14;
  border: none;
}
.form-control {
  font-family: "quicksandregular",Helvetica,Arial,sans-serif;
  font-size: 15px;
  padding: 0;
  width: 443px;
}
#txt_input {
  font-family: "quicksandregular",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 18px;
}
.text{
  font-weight: normal !important;
  color: #727272;
  border: none;
  line-height: 18px;
  border: none;
}

