#new_contact {
  background-color: #ccc;
  margin: 30px 75px;
  padding: 10px 25px;
  width: 500px;
}
.control-label {
  color: #727272;
  font-family: "quicksandregular",Helvetica,Arial,sans-serif;
  font-size: 15px;
  padding: 10px 10px 10px 0;
}
.btn-primary {
  background-color: #0e783e;
  margin: 13px auto 17px;
  padding: 16px 159px;
}
.btn-primary:hover {
  background-color: #019c12;
}
.form-control {
  font-family: "quicksandregular",Helvetica,Arial,sans-serif;
  font-size: 15px;
  padding: 0;
  width: 443px;
}
#txt_input {
  font-family: "quicksandregular",Helvetica,Arial,sans-serif;
  font-size: 15px;
  border: none;
  line-height: 18px;
  border: none;
}

