.contact_txt{
  color:#272727;
  font-size: 13px;
  font-family: "quicksandregular", Helvetica, Arial, sans-serif;
  margin-right: 30px;
  line-height: 30px;
  display: block;
}
.contact_txt:hover{
  text-decoration: underline;
  background-color: transparent;
  color: green;


}
