// Place all the styles related to the nosso_time controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nome_tit{
  font: 18px/35px "quicksandbold",Helvetica,Arial,sans-serif;
  color: #272727;
}

.desc_pes{
  font: 15px/20px "quicksandregular",Helvetica,Arial,sans-serif;
  padding-bottom: 20px;
  padding-right: 30px;
  color: #272727;
}