// Place all the styles related to the nosso_time controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nome_tit{
  font: 15px/35px Arial,Helvetica,sans-serif;
  color: #272727;
  font-weight: bold;
}
.desc_pes{
  font: 14px/22px Arial, Helvetica,sans-serif;
  padding-bottom: 20px;
  padding-right: 30px;
  color: #272727;
}