// Place all the styles related to the tutoriais controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text_p{
  color:#272727;
  font: 14px/22px Arial,Helvetica,sans-serif;
  margin-right: 30px;
  padding-bottom: 20px;
}
.tut_titulo{
  color:#272727;
  font: 15px/35px Arial,Helvetica,sans-serif;
  margin-right: 30px;
  font-weight: bold;
  text-transform: uppercase;
}