<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Seja um parceiro MLG Brasil</span>
</div>
<iframe width="640" height="360" src="//www.youtube.com/embed/zyYPdZzE3a8" frameborder="0" allowfullscreen></iframe>
<br><br>
<p class="text_p">
  Atualmente o mercado de games está em grande evidência e tem sido considerado um dos mais promissores para investimento publicitário e desenvolvimento campanhas de aproximação com o público consumidor.
  Caso o seu target sejam pessoas do sexo masculino, faixa etária de 18 a 35 anos e predominantes das classes A e B, a MLG Brasil é um dos canais mais assertivos no mercado brasileiro para impulsionar suas campanhas.
</p>

<a href="http://home.mlgbrasil.tv/midia_kit_mlg_brasil.pdf" style="color: #17773f; border: 1px solid #17773f; padding: 5px">Baixe Aqui o nosso Mídia Kit</a>
<br>
<br>
<br>
<p style="text-align: center">
  Entre em contato:<br>
  <br>
  Antonio Bento <br>
  11 3848-8387<br>
  <a href="mailto:sales@mlgbrasil.tv">sales@mlgbrasil.tv</a>
</p>


<%
=begin
    nome
    empresa
    email
    telefone
    fale um pouco sobre o seu projeto
=end
%>