
<div id="box-plugin">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Home - 300 x 250 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-7240544283956227"
       data-ad-slot="7952696592"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <div style="margin-top: 20px; padding-bottom: 20px">
    <a class="twitter-timeline" href="https://twitter.com/MLG_Brasil" width="300" height="396" data-widget-id="517097672491020288">@MLG_Brasil</a>
  </div>
  <iframe src="http://files.quizsnack.com/iframe/embed.html?hash=qhkab8am&width=250&height=370&wmode=transparent&t=1417531315&width=300&height=270" width="300" height="270" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>