
<div id="box-plugin">
  <a class="twitter-timeline" href="https://twitter.com/MLG_Brasil" width="300" height="396" data-widget-id="517097672491020288">@MLG_Brasil</a>
</div>
<div class="ad_right boo-widget bbb custom" id="boo-0">
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>